body {
  font-family: 'Anaheim';
  font-size: 1.2em;
  color: #045762;
}
img {
  width: 9%;
  max-width: 25%;
  height: 5%;
}


#outside {
  background-color: #045762;
  padding-top: 25px;
  padding-bottom: 25px;
}

h1 {
  color: #045762;
  font-size: 1.5em;
  text-align: center;
  text-transform: capitalize;
}

h5 {
  color: #045762;
  font-size: 1.00em;
  text-align: center;
}

form {

  margin: 0 auto;
  width: 70%;

  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;

}
#survey-form {
  background-color: #f9f3f3;
}

fieldset {
  border:0.5px solid #4e8d7c;
  margin: 10px;
 }

legend {
  font-weight: 700;
}

#number {
  width: 150px;
}


div + div {
  margin-top: 1em;
  }


} */

input, textarea {

  width: 200px;

  border: 1px solid #999;
}

input:focus, textarea:focus {

  border-color: #045762;
}

textarea {

  vertical-align: top;
  height: 5em;
  resize: vertical;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  margin: .5em;
  font-size: 1em;
  text-transform: capitalize;
  background-color: #045762;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 2px;

}

#submitbutton {
  display: flex;
  justify-content: center;
}
